@font-face {
    font-family: 'F37Lineca';
    src: local('F37Lineca'), url('./assets/F37-Lineca/F37Lineca/Variable/F37Lineca-VF.ttf') format('ttf'),
     /* url('./fonts/CustomFont.woff') format('woff'); */
}

html {
    scroll-behavior: smooth;
}

.contact-font{
    font-family: 'F37Lineca';
}

@tailwind base;
@tailwind components;
@tailwind utilities;